@model IEnumerable<WebUI.Models.CustomerVM>
@{
    ViewData["Title"] = "Main";
}
<div class="text-center">
    <h2>Hello @ViewBag.Customer.FirstName</h2>
    <hr />

    <br>
    <div>
        @Html.ActionLink("Place an order", "SelectLocation", "Location", new { customerId = ViewBag.Customer.Id})
    </div>

    <br>
    <div>
        @Html.ActionLink("View Order History", "Sort", "Order", new { customerId = ViewBag.Customer.Id})
    </div>

    <br>
    <div>
        @Html.ActionLink("Sign off", "Index", "Home")
    </div>
</div>
