@model IEnumerable<WebUI.Models.LocationVM>
@{
    ViewData["Title"] = "Main";
}

<h2>Branch: @ViewBag.Location.Name </h2>
<h4>Address: @ViewBag.Location.Address</h4>
<hr />
<br>

<div>
    @Html.ActionLink("Manage Product", "UnclaimedList", "Product", new { locationId = ViewBag.Location.Id})
</div>

<div>
    @Html.ActionLink("Manage Inventory", "ReplenishList", "Inventory", new { locationId = ViewBag.Location.Id})
</div>

<div>
    <a asp-action="Index">Back to Main</a>
</div>